/**
* @file hello.less
* @author kashao@anonymous.cn
* @since 2018/12/15 17:46:14
 */


  h1 {
    color: #42b983;
  }

  .logo {
    width: 100px;
    height: 100px;
    a {
      color: #42b983;
      text-decoration: none;
    }
  }
